body {
  margin: 0;
  background: black;
  font-family: "Inter";
}

#top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #6943ff;
  color: white;
  align-items: center;
  max-width: 550px;
  height: 285px;
  margin: 126px auto;
  padding-top: 30px;
  font-size: 28px;
  font-weight: 800;
}

#input-el {
  width: 117px;
  height: 83px;
  border: 2px solid #b295ff;
  border-radius: 5px;
  background-color: #6943ff;
  margin-top: 30px;
  font-size: 58px;
  font-weight: 800;
  color: white;
  text-align: center;
  line-height: 24px;
}

#convert-btn {
  font-size: 16px;
  font-weight: 500px;
  padding: 9px 27.5px;
  line-height: 24px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  background: white;
  color: #3d3d3d;
  width: 117px;
  height: 42px;
  margin-top: 25px;
}

#bottom-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background: #1f2937;
  max-width: 550px;
  height: 444px;
  margin: -126px auto;
  padding-top: 36px;
}

p {
  background: #273549;
  color: #b295ff;
  width: 500px;
  height: 108.57px;
  text-align: center;
  padding-top: 31px;
  font-size: 24px;
  font-weight: 600;
}

span {
  margin-top: 12px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
